* {box-sizing: border-box;}

html {font-family: 'Roboto Regular'}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
        font-family: 'Philosopher Regular';
        src: url('../fonts/Philosopher.eot');
        src: url('../fonts/Philosopher.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Philosopher.woff') format('woff'),
        url('../fonts/Philosopher.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }

body {background-color: #FFE2B0}

header {text-align: center;
    margin-bottom: 20px;}

ul {list-style-type: none;
    text-align: center;
    padding: 0px;
}

li {display: inline;
    margin-right: 100px;
    font-family: 'Roboto Bold'}

a {color:black;
    text-decoration: none;
    font-size: 18px;}

li:last-child {margin-right: 0px;}

nav {margin-bottom: 20px;}

.section-about {
    height: 640px;
    background-image: url(../img/01-BULKA.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}

.section-about__block {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234, 156, 65, 0.8) 100%);
    position: absolute;
    top: 54%;
    left: 50%;
    padding-top: 15px;}

.section_about__border {
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    padding-top: 17px;
    padding-left: 28px;
    padding-right: 28px;
    text-align: left;
}

.section_about__title {
    font-size: 36px;
    margin: 0;
    margin-bottom: 29px;
    font-family: 'Philosopher Regular'
}

.section_about__text {
    font-size: 12px;
    text-align: center;
    margin: 0}

.section-description {
    margin-bottom: 20px;
}

.section-description__icon-box {
    text-align: center;
    margin-bottom: 20px;
}
.section-description__icon-box img {
    margin-right: 76px;
}

.section-description__icon-box img:last-child {
    margin-right: 0px
}

.section_description__title {
    font-size: 96px;
    margin: 0px;
    text-align: center;
    font-family: 'Philosopher Regular'
}

.section_description__span {
    color: #f15b40
}

.section_description__text {
    font-size: 18px;
    margin: 0px;
    text-align: center;
    width: 1000px;
    margin: 0 auto;}

.section-map { 
    margin-bottom: 20px;}

.section-map__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
    font-family: 'Philosopher Regular';
    font-weight: 500;
}

hr {border: none;
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;}

iframe {display: block;
    margin: 0 auto;}

h1 {font-family: 'Roboto'}